*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    /* background-color: #1e1e1e; */
    margin: 0px;
    padding: 0px;
    height: 2000px;

}


/* header and top menu bar */

header{
    padding: 30px 0px 20px 0px;
    background-color: #60DFE6;
    
}
header .logo{
    text-transform: capitalize;
    font-family: fantasy;
    font-size: 20px;
    font-weight: 800;
    margin-left: 41px;
    
}

header nav ul{
    margin-top: 50px;
    float: right;
    margin-right: 50px;
}

header nav ul li{
    float: left;
    margin-left: 50px;
    list-style: none;
    
}

header nav ul li a{
display: block;
text-decoration: none;
font-family:  sans-serif;
font-size: 12px;
font-weight: 600;
color: #443f3f;
line-height: 15.73px;

}

header nav ul li a:hover{
    color: white;
}

header .fa-solid{
    font-size: 30px;
    
}

.fa-solid{
    margin-top: -10px;
    /* margin-right: 10px; */
}

/* section a grid-container */

.section-a .grid-container{
    margin-right: 20px;
    padding: 30px 0px 20px 0px;
}

.brand .head-6{
    background-color: #60DFE6;
    height: 30px;
    text-align: center;
    margin-right: 80px;
    
}

.brand h6{
    padding: 10px;
}

.brand img{
    width: 300px;
}


/* section b gallery and slider */

.section-b{
    background-color: #60DFE6;
}

.section-b .grid-container{
    height: 400px;
}

.gallery{
    padding: 50px;
    font-size: 70px;
    margin-left: 60px;
}

.gallery img{
    
}


/* section c */

.section-c{
    margin-top: 200px;
}

.section-c .grid-container{
    margin-right: -60px;
}

.news-letter{
    padding: 20px;
    
}

.news-letter h1{
    font-size: 30px;
    font-weight: 700;
}

.news-letter hr{
    width: 50%;
    margin-left: 0px;
    border: 1px solid #60DFE6;

}

.section-c .grid-50{
    border: 2px solid #60DFE6;
    height: 250px;
    padding: 40px;
    background-color: #ecf0f0;
}

input[type=email]{
    border: none;
    border-bottom: 2px solid #60DFE6;
    background-color: #ecf0f0;
}

.email a{
    padding: 10px 50px;
    background-color: #60DFE6;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.email a:hover{
    background-color: #19868c;
}


/* section d */

section.section-d{
    margin-top: 200px;
    padding: 50px 0px 100px 0px;
    position: relative;
}

section.section-d .grid-container{
    margin-right: -50px;
}

section.section-d .grid-30{
    margin-left: 50px;
}

section.section-d .about-pic{
    height: auto;
    display: block;
    max-width: 100%;
}

section.section-d .about-quo{
    position: absolute;
    top: 200px;
    overflow: hidden;
    margin-left: 30px;
}

 section.section-d .about-quo h1{
    text-transform: capitalize;
    font-family: serif;
    font-size: 80px;
    font-weight: 700;
    color: white;
    margin-bottom: 25px;
    line-height: 90px;
        
}

section.section-d .statement p{
    font-size: 22px;
    line-height: 35px;
}

footer {
    /* background-image: linear-gradient(to bottom, #0c0c0c, #121111); */
    padding: 70px 0px 140px 0px;
    background-image: url(../assess/img10.jpg);
    background-repeat: no-repeat;
    opacity: 0.25;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    color: #0000;
    background-color: #0000;
    
}

footer::before{
    content: ' ';
    background-image: url(../assess/img10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;

}




